* {
    box-sizing: border-box;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */


html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;

}

ul>li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



*/ .wrapper {
    min-height: 100%;
    position: relative;
}

/* .nav__item {
    display: inline-block;
    margin-right: 20px;
} */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

/* .log__title {
    text-transform: uppercase;
    color: white;
} */

a {
    color: inheritc;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0px 10px;
    margin: 0px auto;
}

.header {
    padding-top: 28px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #2C3B45;
}

.header__content {
    display: flex;
    justify-content: space-between;
}


.log {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.log__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nuv {
    background-color: #404F59;
    padding: 20px 40px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -29px;
}

.nav__list {
    display: flex;
    /* column-gap: 30px; */
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #FFFFFF;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.header__tel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

.header__tel span {
    color: #FFFFFF;
}

.hero {
    min-height: 750px;
    height: 1px;
    background-color: #2C3B45;
}

.hero__conteiner {
    background-color: #2C3B45;
    height: 100%;
    display: flex;
}

.hero__content {
    padding-top: 168px;
}

.hero__content,
.hero__img-wrap {
    width: 50%;
}

.location {}

.hero__location {
    margin-bottom: 35px;
}

.location__icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.location__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #1E92E7;
}

.title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 488px;
}

.hero__title {
    margin-bottom: 47px;
}

.btn {
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    border: none;
}

.btn_type_blue {
    background-color: #1E92E7;
    padding: 14px 36px;
}

.hero__btn {}

.hero__img-wrap {
    position: relative;
}

.hero__img {
    /* height: 85%; */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}